<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0</key>
	<dict>
		<key>name</key>
		<string>玫瑰</string>
		<key>icon</key>
		<string>icon_present_0</string>
	</dict>
    <key>1</key>
    <dict>
        <key>name</key>
        <string>巧克力</string>
        <key>icon</key>
        <string>icon_present_1</string>
    </dict>
    <key>2</key>
    <dict>
        <key>name</key>
        <string>可爱熊</string>
        <key>icon</key>
        <string>icon_present_2</string>
    </dict>
    <key>3</key>
    <dict>
        <key>name</key>
        <string>冰淇淋</string>
        <key>icon</key>
        <string>icon_present_3</string>
    </dict>
</dict>
</plist>
